* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbe0e6;
    text-align: center;
}

.container {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1.invitation {
    font-size: 2.5rem;
    color: #e91e63;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.yes-button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yes-button:hover {
    background-color: #d81b60;
}

.spotify-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.playlist-link {
    margin-top: 20px;
}

.playlist-link a, .back-button a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #e91e63;
    font-weight: bold;
    border: 2px solid #e91e63;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.playlist-link a:hover, .back-button a:hover {
    background-color: #e91e63;
    color: white;
}
